.card{
    height: 30rem;
    width: 18rem;
    box-shadow: 0px 1px 2px 4px #d3d3d3;
    margin-top: 6rem;
    background-color: white;
}
.card img{
    width: 15rem;
    padding-top: 2rem;
}
.data{
    margin-left: 25px;
    display: flex;
    align-items: center;
    font-family: fangsong;
}
.box-container{
    width: 33%;
    display: flex;
    justify-content: center;
}
.Box{
    justify-content:space-around;
    display: flex;
    flex-wrap:wrap ;
}
@media (min-width:767px )and (max-width:992px) {
    .box-container{ width:50%;}
}
@media (max-width:765px) {
    .box-container{
        width:100%;
    }
}